.p {
	width: 30%;
	height: 29vh;
	margin: 20px 10px;
	border: 2px solid rgb(243, 242, 242);
	border-radius: 10px 10px 0px 0px;
	overflow: hidden;
	position: relative;
}

.p-browser {
	height: 20px;
	background-color: rgb(243, 242, 242);
	display: flex;
	align-items: center;
	position: sticky;
	z-index: 2;
}

.p-circle {
	width: 6px;
	height: 6px;
	border-radius: 50%;
	margin: 3px;
	background-color: white;
}

.p-img {
	/* height: 100%; */
	width: 100%;
	transition: all 10s ease;
	/* object-fit: fill; */
}

.p-text {
	width: fit-content;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	display: flex;
	overflow: hidden;
	flex-direction: column;
	justify-content: space-evenly;
}

.p-name {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10%;
}

.p-desc {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 25px 50px;
}

.p-buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.p-link {
	display: inline-block;
	margin: 0 50px;
}

.p-icon {
	/* display: flex; */
	width: 50px;
	height: 50px;
	clip-path: circle(50% at 50% 50%);
	/* display: inline-block; */
	/* margin: 0 auto; */
}
/* 
.p:hover .p-img {
	transform: translateY(-100%);
} */

.p:after {
	content: ''; /* :after has to have a content... but you don't want one */

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background: rgba(0, 0, 0, 0);

	transition: 1s;
}

.p:hover:after {
	background: rgba(0, 0, 0, .5);
}

.p:hover .p-text {
	opacity: 1;
}

.p-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	z-index: 5; /* only works when position is defined */
	/* think of a stack of paper... this element is now 5 higher than the bottom */

	color: white;

	opacity: 0;
	transition: .5s;
}

@media screen and (max-width: 480px) {
	.p {
		width: 40%;
		height: 13vh;
	}

	.p-text {
		width: fit-content;
		justify-content: center;
		align-items: center;
	}

	.p-name {
		font-size: 15px;
		margin-top: 25px;
	}

	.p-desc {
		display: none;
	}

	.p-link {
		display: inline-block;
		margin: 10px 25px;
	}

	.p-icon {
		width: 25px;
		height: 25px;
	}
}
